/*Francois Smith - u21649988*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --accent-color: #F65050;
    --font-color: #393939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
  
body {
    height: 100vh;
    color: var(--font-color);
    font-family: 'Oswald', sans-serif;
}

/*======================================Nav============================================*/

nav{
    padding-top: 80px;
}

nav #landing-nav {
    color: #fff;
    background-color: #393939;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    margin: auto;
}

nav #landing-nav-links{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
}

nav #landing-nav a{
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    justify-content: center;
}


nav #landing-nav a::before{
    width: 100%;
    background-color: #fff;
}

nav #landing-nav a {
    box-shadow: inset 0 0 0 0 #d64a4a;
    transition: color .25s ease-in-out, box-shadow .25s ease-in-out;
}

nav #landing-nav a:hover {
    box-shadow: inset 0 0 200px 0 #d64a4a;
    color: white;
}

/*======================================Main============================================*/

main #landing-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#landing-body img{
    width: 200px;
}

.orange-text{
    color: var(--accent-color);
}

main #landing-title {
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: light;
    letter-spacing: 0.03em;
    font-size: 48px;
    padding-top: 50px;
    padding-bottom: 10px;
}

main p {
    font-size: 30px;
    font-weight: 300;
}

main #landing-socials{
    padding-top: 120px;
    width: 400px;
    display: flex;
    justify-content: space-around;
    border-bottom: 3px solid #393939;
    padding-bottom: 25px;
}

main #landing-socials span{
    font-size: 40px;
    text-decoration: none;
    color: #393939;
}

main #landing-socials span:hover{
    color: var(--accent-color);
}