@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --accent-color: #2a81ea;
    --accent-color-offset: rgb(228, 228, 228);
} 

:root.light{
    --font-color: #393939;
    --font--hover: #5e5e5e;
    --background-color: rgb(241, 241, 241);
    --background-color-offset: rgb(228, 228, 228);
    --misc-background: #383838;
    --misc-text: #cfcfcf;
    --highlights: rgba(246, 80, 80, 15%);
}

:root.dark{
    --font-color: #acacac;
    --font--hover: #919191;
    --background-color: rgb(48, 48, 48);
    --background-color-offset: rgb(32, 32, 32);
    --misc-background: #222222;
    --misc-text: #d4d4d4;
    --highlights: rgba(19, 4, 4, 0.15);
}

.form-container{
    margin: 40px 80px;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: minmax(400px, 1fr);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.2);
}

.input-container{
    padding: 40px calc(20%);
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

form{
    padding-top: 30px;
}

label{
    font-size: 18px;
    font-weight: 400;
}

input[type=submit]{
    width: 100%;
    padding: 12px 12px;
    font-size: 18px;
    font: Montserrat, sans-serif;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: 400;
}

input[type=submit]:hover{
    filter: brightness(0.8);
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    font: Montserrat, sans-serif;
    font-weight: 200;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid var(--font-color);
    color: var(--font--hover);
    background-color: var(--background-color);
    margin-bottom: 25px;
}

h2{
    font-weight: 500;
    font-size: 30px;
}

.input-container p{
    font-weight: 400;
    color: var(--font--color);
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

#logo-background{
    position: absolute;
    height: 800px;
    z-index: -1;
    opacity: 0.05;
    left: calc(-15%);
    top: calc(20%);
}

.blue-text{
    color: var(--accent-color);
}

.quote-contianer{
    grid-area: 1 / 2 / 2 / 3;
    background: var(--misc-background);
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.quote-contianer p{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
}

input.invalid{
    border: 1px solid rgba(199, 49, 49, 0.877);
    color: rgba(179, 51, 51, 0.877);
}

.error-message{
    display: none;
}

.input-title-container{
    margin-bottom: -22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-title-container span{
    padding-bottom: -5px;
    color: rgba(179, 51, 51, 0.877);
}

.display-error{
    display: block
}

input:focus{
    color: var(--font--color);
}

.visibilty-toggle{
    position: absolute;
    width: 25px;
    margin-top: 20px;
    margin-left: -35px;
    color: var(--font-color);
}

#register-link{
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
}
