/*Francois Smith - u21649988*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --accent-color: #2a81ea;
    --font-color: #393939;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
  
body {
    min-height: 100vh;
    color: var(--font-color);
    font-family: 'Oswald', sans-serif;
}

main{
    width: 86%;
    margin: auto;
}

/*======================================Navigation============================================*/

nav #top-bar{
    height: 40px;
    box-shadow: 0px 1px 10px rgba(246, 80, 80, 15%);
    display: flex;
    justify-content: space-between;
}

nav #date-time span{
    padding-left: 15px;
}

#date-time {
    display: flex;
    align-items: center;
}

#date-time img {
    height: 20px;
}

nav #title-logo {
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: light;
    letter-spacing: 0.03em;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav #title-logo p {
    padding-left: 20px;
}

nav #title-logo img {
    height: 160px;
}

nav #links {
    color: #fff;
    background-color: #393939;
    height: 60px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav #link-container{
    display: flex;
    height: 100%;
}

nav #links a{
    position: relative;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    font-size: 20px;
    font-weight: 300;
}

nav #search-bar{
    display: flex;
    padding-right: 20px;
}

nav #search-bar span {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 300;
    padding-right: 50px;
    padding-left: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
}

nav #search-bar svg {
    transform: scale(0.8);
    margin-top: 3px;
}

nav #links a::before{
    width: 100%;
    background-color: #fff;
}

nav a {
    box-shadow: inset 0 0 0 0 var(--accent-color);
    transition: color .25s ease-in-out, box-shadow .25s ease-in-out;
}

nav a:hover {
    box-shadow: inset 0 0 200px 0 var(--accent-color);
    color: white;
}

#active-link {
    background-color: var(--accent-color);
    pointer-events: none;
}

#active-link span{
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}
/*======================================General Classes============================================*/

.orange-text{
    color: var(--accent-color);
}

.center{
    width: 86%;
    margin: auto;
}