/*Francois Smith - u21649988*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --accent-color: #2a81ea;
} 

:root.light{
    --font-color: #393939;
    --background-color: #fff;
    --elements-background: #383838;
    --elements-text: #cfcfcf;
}

:root.dark{
    --font-color: #cecece;
    --background-color: rgb(48, 48, 48);
    --elements-background: #222222;
    --elements-text: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
  
body {
    min-height: 100vh;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: 'Oswald', sans-serif;
    width: 100vw;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr;
}

/*======================================Navigation============================================*/

nav{
    grid-area: 1 / 1 / 2 / 2;
    background-color: #aaaa;
}

#theme-toggle{
    display: flex;
    padding: 10px 0px 20px;
}

#light-theme{
    color: var(--elements-text);
    transform: scale(1.75);
    cursor: pointer;
}

#light-theme:hover{
    color:var(--accent-color)
}

#dark-theme{
    color: var(--elements-text);
    transform: scale(1.5);
    cursor: pointer;
}

#dark-theme:hover{
    color:var(--accent-color)
}

.display-none-theme{
    display: none;
}

/*======================================Body============================================*/

main{
    display: grid;
    grid-template-columns:0.45fr 1fr;
    grid-template-rows: 1fr;
}

.chat-container{
    grid-area: 1 / 1 / 2 / 2;
    background-color: rgba(209, 209, 209, 0.667);
}

.article-container{
    grid-area: 1 / 2 / 2 / 3;
    background-color: rgba(107, 107, 107, 0.667);
}

/*======================================Login Container============================================*/

.form-container{
    position: absolute;
    width: 60vw;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: minmax(400px, 1fr);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.2);
}

.input-container{
    padding: 40px 80px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color);
}

form{
    padding-top: 30px;
}

label{
    font-size: 18px;
    font-weight: 400;
}

input[type=submit]{
    width: 100%;
    padding: 12px 12px;
    font-size: 18px;
    font: Montserrat, sans-serif;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: 400;
}

input[type=submit]:hover{
    filter: brightness(0.8);
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    font: Montserrat, sans-serif;
    font-weight: 200;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid var(--font-color);
    color: var(--font-color);
    background-color: var(--background-color);
    margin-bottom: 25px;
}

h2{
    font-weight: 500;
    font-size: 30px;
}

.input-container p{
    font-weight: 400;
    color: var(--font-color);
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

#logo-background{
    position: absolute;
    height: 800px;
    z-index: -1;
    opacity: 0.05;
    left: calc(-15%);
    top: calc(20%);
}

.blue-text{
    color: var(--accent-color);
}

.quote-contianer{
    grid-area: 1 / 2 / 2 / 3;
    background: var(--elements-background);
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.quote-contianer p{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
}

input.invalid{
    border: 1px solid rgba(223, 60, 60, 0.877);
    color: rgba(219, 37, 37, 0.877);
}

.hidden{
    display: none;
}

.input-title-container{
    margin-bottom: -22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-title-container span{
    padding-bottom: -5px;
    color: rgba(219, 37, 37, 0.877);
}

input:focus{
    color: var(--font-color);
}

.visibilty-toggle{
    position: absolute;
    width: 25px;
    margin-top: 20px;
    margin-left: -35px;
    color: var(--font-color);
}