/*Francois Smith - u21649988*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --accent-color: #2a81ea;
} 

:root.light{
    --font-color: #393939;
    --font--hover: #5e5e5e;
    --background-color: rgb(241, 241, 241);
    --background-color-offset: rgb(228, 228, 228);
    --elements-background: #383838;
    --elements-text: #cfcfcf;
}

:root.dark{
    --font-color: #cecece;
    --font--hover: #919191;
    --background-color: rgb(48, 48, 48);
    --background-color-offset: rgb(32, 32, 32);
    --elements-background: #222222;
    --elements-text: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
  
body {
    min-height: 100vh;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: 'Oswald', sans-serif;
    width: 100vw;

    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
}

/*======================================Navigation============================================*/

nav{
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--background-color);
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    font-size: 20px;
    overflow: hidden;
}

#article-section{

}

#bottom-section{
    display: flex;
    flex-direction: column;
    padding: 25px;
}

#user-account-container{
    display: flex;
    margin: 0px 0px 20px;
    overflow: hidden;
    flex-wrap: nowrap;
}

#user-account-container span{
    
}

#user-account-container i{
    font-size: 25px;
    padding-right: 30px;
}

#user-account{

}

#theme-toggle-container{
    display: flex;
}

#theme-icon-container{
    padding-right: 30px;
}

#light-theme{
    transform: scale(1.4);
}

#dark-theme {
    transform: scale(1.1);
}

.display-none-theme{
    display: none;
}

/*======================================Body============================================*/

main{
    display: grid;
    grid-template-columns:0.45fr 1fr;
    grid-template-rows: 1fr;
}

.chat-container{
    grid-area: 1 / 1 / 2 / 2;
    background-color: var(--background-color-offset);
}

.article-container{
    grid-area: 1 / 2 / 2 / 3;
    background-color: var(--background-color);
}

/*======================================Login Container============================================*/

.form-container{
    top: 50%;
    right: 50%;
    transform: translate(200%, -50%);
    position: absolute;
    width: 60vw;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: minmax(400px, 1fr);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.2);
    transition: all 0.5s;
}

.input-container{
    padding: 40px 80px;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    background-color: var(--background-color);
}

form{
    padding-top: 30px;
}

label{
    font-size: 18px;
    font-weight: 400;
}

input[type=submit]{
    width: 100%;
    padding: 12px 12px;
    font-size: 18px;
    font: Montserrat, sans-serif;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: 400;
    z-index: 10;
    position: relative;
}

input[type=submit]:hover{
    filter: brightness(0.8);
}

input[type=text], input[type=email], input[type=password] {
    position: relative;
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    font: Montserrat, sans-serif;
    font-weight: 200;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid var(--font-color);
    color: var(--font-color);
    background-color: var(--background-color);
    margin-bottom: 25px;
    z-index: 10;
}

h2{
    font-weight: 500;
    font-size: 30px;
}

.toast {
    top: 40px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0px);
    z-index: 9999;
}

.input-container p{
    font-weight: 400;
    color: var(--font-color);
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

#logo-background{
    position: absolute;
    height: 800px;
    z-index: 1;
    opacity: 0.05;
    left: calc(-15%);
    top: calc(10%);
}

.blue-text{
    color: var(--accent-color);
}

.quote-contianer{
    grid-area: 1 / 2 / 2 / 3;
    background: var(--elements-background);
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.quote-contianer p{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
}

input.invalid{
    border: 1px solid rgba(223, 60, 60, 0.877);
    color: rgba(219, 37, 37, 0.877);
}

.hidden{
    display: none;
}

.input-title-container{
    margin-bottom: -22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-title-container span{
    padding-bottom: -5px;
    color: rgba(219, 37, 37, 0.877);
}

input:focus{
    color: var(--font-color);
}

.visibilty-toggle{
    position: absolute;
    width: 25px;
    margin-top: 20px;
    margin-left: -35px;
    color: var(--font-color);
}

.form-close{
    position: absolute;
    right: 20px;
    top: 10px;
    z-index: 2000;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

/*======================================Custom Toastr Styling============================================*/

.toast-message a, .toast-message label {
    color: var(--elements-text) !important;
}

.toast-message a:hover {
    color: var(--elements-text) !important;
}

.toast-close-button {

    color: var(--elements-text) !important;
}

.toast-close-button:hover, .toast-close-button:focus {
    color:  var(--elements-text) !important;
}
  
#toast-container > div {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    color:  var(--elements-text) !important;
}

#toast-container > div:hover {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none  !important;
    box-shadow: none  !important;
}

.toast {
    background-color:  var(--elements-background) !important;
}

.toast-success {
    background-color: #51A351 !important;
}

.toast-error {
    background-color: rgb(223, 60, 60) !important;
}

.toast-info {
    background-color: #2F96B4 !important;
}

.toast-warning {
    background-color: #F89406 !important;
}