/*Francois Smith - u21649988*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --accent-color: #2a81ea;
    --loader-background: #393939;
    --loader-text: #fff;
} 

:root.light{
    --font-color: #393939;
    --background-color: #fff;
    --elements-background: #383838;
    --elements-text: #cfcfcf;
}

:root.dark{
    --font-color: #cecece;
    --background-color: rgb(48, 48, 48);
    --elements-background: #222222;
    --elements-text: #d4d4d4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: absolute;
    width: 100%;
}
  
body {
    min-height: 100vh;
    color: var(--font-color);
    background-color: var(--background-color);
    font-family: 'Oswald', sans-serif;
    width: 100vw;
}

main{
    width: 86%;
    margin: auto;
}

/*======================================Navigation============================================*/

nav #top-bar-container{
    height: 40px;
    box-shadow: 0px 1px 10px var(--elements-background);
}

nav #top-bar{
    display: flex;
    padding-top: 2px;
    height: : 100%;
    justify-content: space-between;
}

#loginContainer{
    visibility: hidden;
    opacity:0;
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: var(--elements-background);
    color: var(--elements-text);
    top: 40px;
    left: -35px;
    cursor: default;
    text-align: center;
    padding: 15px;
}

#date-time {
    display: flex;
    align-items: center;
    margin: 0;
}

#date-time img {
    height: 20px;
    padding-right: 10px;
}

#user svg{
    color: var(--elements-background);
    width: 36px;
}

#user:hover svg{
    color: var(--accent-color);
}

#user:hover #loginContainer{
    visibility: visible;
    opacity: 1;
    transition-delay:0.1s;
    transition: opacity 0.2s ease-in;
}

#user{
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

#username{
    font-size: 20px;
    font-weight: 300;
}

#divider {
    width: 100%;
    height: 2px;
    background-color: var(--elements-background);
    border-radius: 50%;
    margin: 20px 0px;
}

#buttons-container{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
}

#buttons-container span{
    text-decoration: none;
    color: var();
    font-weight: 300;
    font-size: 20px;
    cursor: pointer;
}

#buttons-container #login{
    background-color: var(--accent-color);
    padding: 4px 12px;
}

#buttons-container #register{
    text-decoration: underline;
}

#loginContainer span{
    font-weight: 200;
    font-size: 20px;
}

nav #title-logo {
    display: flex;
    align-items: center;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    letter-spacing: 0.03em;
    font-size: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav #title-logo p {
    padding-left: 20px;
}

nav #title-logo img {
    height: 160px;
}

/*======================================Footer============================================*/

footer {
    width: 100%;
    background-color: var(--elements-background);
    color: var(--elements-text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-socials {
    padding-top: 10px;
    display: flex;
    align-items: center;
}

#footer-socials a{
    text-decoration: none;
    padding: 0px 5px;
}

#footer-socials svg{
    color: var(--elements-text);
    width: 50px;
}

#footer-socials svg:hover{
    color:var(--accent-color);
}

#theme-toggle{
    display: flex;
    padding: 10px 0px 20px;
}

#light-theme{
    color: var(--elements-text);
    transform: scale(1.75);
    cursor: pointer;
}

#light-theme:hover{
    color:var(--accent-color)
}

#dark-theme{
    color: var(--elements-text);
    transform: scale(1.5);
    cursor: pointer;
}

#dark-theme:hover{
    color:var(--accent-color)
}

.display-none-theme{
    display: none;
}

#footer-copyright {
    padding: 0px 0px 20px;
    font-size: 18px;
}

/*======================================General Classes============================================*/

.orange-text{
    color: var(--accent-color);
}

.center{
    width: 86%;
    margin: auto;
}

#loading-background{
    position: fixed;
    background-color: var(--loader-background);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    transition: all 1s ease-out;
}

#loading-background p {
    color: var(--loader-text);
    font-size: 50px;
    font-weight: 200;
    width: 100%;
    text-align: center;
    top: 50%;    
    position: fixed;
}

#loading-background.display {
    opacity: 1;
    display: block;
}

#loading {
    position: fixed;
    left: 50%;
    top: 37%;
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
}