@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --accent-color: #2a81ea;
    --font-color: #393939;
}

.form-container{
    margin: 40px 80px;
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
    grid-template-rows: minmax(400px, 1fr);
    box-shadow: 0 1px 12px 0 rgba(0,0,0,0.2);
}

.input-container{
    padding: 40px calc(20%);
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

form{
    padding-top: 30px;
}

label{
    font-size: 18px;
    font-weight: 400;
}

input[type=submit]{
    width: 100%;
    padding: 12px 12px;
    font-size: 18px;
    font: Montserrat, sans-serif;
    margin: 8px 0;
    border-radius: 5px;
    border: none;
    background-color: var(--accent-color);
    color: #fff;
    font-weight: 400;
}

input[type=submit]:hover{
    filter: brightness(0.8);
}

input[type=text], input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 12px;
    font-size: 16px;
    font: Montserrat, sans-serif;
    font-weight: 200;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.315);
    color: rgba(0, 0, 0, 0.507);
    margin-bottom: 25px;
}

h2{
    font-weight: 500;
    font-size: 30px;
}

.input-container p{
    font-weight: 400;
    color: rgba(0, 0, 0, 0.37);
    font-size: 18px;
    text-align: center;
    width: 100%;
    padding-top: 15px;
}

#logo-background{
    position: absolute;
    height: 800px;
    z-index: -1;
    opacity: 0.05;
    left: calc(-15%);
    top: calc(20%);
}

.blue-text{
    color: var(--accent-color);
}

.quote-contianer{
    grid-area: 1 / 2 / 2 / 3;
    background: rgb(71,71,71);
    background: linear-gradient(135deg, rgba(71,71,71,1) 0%, rgba(18,18,18,1) 100%);
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.quote-contianer p{
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.199);
}

input.invalid{
    border: 1px solid rgba(223, 60, 60, 0.877);
    color: rgba(219, 37, 37, 0.877);
}

.error-message{
    display: none;
}

.input-title-container{
    margin-bottom: -22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-title-container span{
    padding-bottom: -5px;
    color: rgba(219, 37, 37, 0.877);
}

.display-error{
    display: block
}

input:focus{
    color: rgba(0, 0, 0, 0.507);
}

.visibilty-toggle{
    position: absolute;
    width: 25px;
    margin-top: 20px;
    margin-left: -35px;
}

#register-link{
    color: var(--accent-color);
    text-decoration: underline;
    cursor: pointer;
}