/*Francois Smith - u21649988*/

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
:root{
    --accent-color: #056cc4;
    --font-color: #393939;
}

/*===========================================Sports===================================*/

.sports-news {
    padding: 0px 50px 30px;
}

.sports-container {
    display: grid; 
    grid-template-columns: 1fr 1.2fr; 
    grid-template-rows: 120px 120px 120px 120px 120px; 
    gap: 20px 40px; 
}

.main-sports-article { 
    grid-area: 1 / 1 / 6 / 2; 
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.main-sports-article a{
    display: none;
}

.sport-sub-article-general .tag{
    display: none;
}

.sport-sub-article-general a{
    display: none;
}

.sport-sub-article1 { 
    grid-area: 1 / 2 / 2 / 3; 
    position: relative;
    overflow: hidden;
}

.sport-sub-article2 { 
    grid-area: 2 / 2 / 3 / 3; 
    position: relative;
    overflow: hidden;
}

.sport-sub-article3 { 
    grid-area: 3 / 2 / 4 / 3; 
    position: relative;
    overflow: hidden;
}

.sport-sub-article4 { 
    grid-area: 4 / 2 / 5 / 3; 
    position: relative;
    overflow: hidden;
}

.sport-sub-article5 { 
    grid-area: 5 / 2 / 6 / 3; 
    position: relative;
    overflow: hidden;
}

.sports-header {
    position: relative;
    justify-content: space-between;
}

.sports-filters-container {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
}

.sports-filter{
    color: rgb(255, 255, 255);
    padding: 4px 12px;
    margin: 0 5px;
    cursor: pointer;
}

.sport-article-image-main {
    height: 70%;
}

.sport-article-content-main {
    display: flex;
    flex-direction: column;
    padding: 10px 0px 30px 0px;
    transition: all 0.4s;
}

.main-sports-article:hover .sport-article-content-main{
    transform: translateX(15px);
}

.main-sports-article:hover .sport-article-image-main{
    filter: brightness(0.65);
}

.sport-article-author-main {
    font-size: 0.9em;
    padding-bottom: 5px;
}

.sport-article-title-main {
    font-size: 1.5em;
    padding-bottom: 5px;
}

.sport-article-description-main {
    font-weight: 300;
    font-size: 1.2em;
    color: #39393994;
}

.sport-sub-article-general{
    display: flex;
    cursor: pointer;
}

.sport-sub-article-image {
    width: 180px;
}

.sport-sub-article-content {
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    transition: all 0.4s;
}

.sport-sub-article-general:hover .sport-sub-article-content{
    transform: translateX(15px);
}

.sport-sub-author-date {
    font-weight: 300;
    padding-top: 10px;
}

.sport-sub-article-title {
    font-size: 1.4em;
    padding-top: 10px;
    line-height: 1.4em;
}

/*===========================================Tech===================================*/

.tech-News {
    padding: 0px 50px 30px;
}

.tech-header {
    position: relative;
    justify-content: space-between;
}

.tech-filters-container {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 10px;
}

.tech-filter{
    color: rgb(255, 255, 255);
    padding: 4px 12px;
    margin: 0 5px;
    cursor: pointer;
}

.tech-container {
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 500px 150px; 
    gap: 30px 20px; 
    grid-template-areas: 
      "tech-article-main1 tech-article-main2 tech-article-main3"
      "tech-article-sub1 tech-article-sub2 tech-article-sub3"; 
}

.tech-article-main1 { 
    grid-area: tech-article-main1; 
}

.tech-article-main2 { 
    grid-area: tech-article-main2; 
}

.tech-article-main3 { 
    grid-area: tech-article-main3; 
}

.tech-article-sub1 { 
    grid-area: tech-article-sub1; 
}

.tech-article-sub2 { 
    grid-area: tech-article-sub2; 
}

.tech-article-sub3 { 
    grid-area: tech-article-sub3; 
}


.tech-article-main-general { 
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.tech-article-sub-general{
    display: flex;
    overflow: hidden;
    cursor: pointer;
}

.tech-article-main-general a{
    display: none;
}

.tech-article-sub-general .tag{
    display: none;
}

.tech-article-sub-general a{
    display: none;
}

.tech-article-main-image{
    width: 100%;
    height: 300px;
}

.tech-article-main-content{
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}

.tech-article-main-author{
    font-weight: 300;
    font-size: 18px;
}

.tech-article-main-title{
    font-size: 25px;
    padding: 5px 0px;
}

.tech-article-main-description{
    font-weight: 300;
    color: #39393994;
}

.tech-article-sub-image{
    width: 40%;
}

.tech-article-sub-content{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
}

.tech-article-sub-author{
    font-weight: 300;
    font-size: 16px;
}

.tech-article-sub-title{
    padding-top: 5px;
    font-size: 22px;
}

/*===========================================General Classes===================================*/

.tag{
    color: #fff;
    padding: 3px 12px;
    font-weight: 300;
    font-size: 20px;
    position: absolute;
    top: 25px;
    left: 25px;
    text-transform: capitalize;
}

.section-title {
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 30px;
    position: relative;
    color: var(--accent-color);
    font-weight: 500;
    width: 100%;
    border-bottom: 2px solid var(--font-color);
}